{{define "body-filter"}}
<div>
    <div id="divFilterInput">
        <div id="divFilterGroupInput">
            <select class="h-inp" id="grpFilter"></select>
        </div>
        <div id="divFilterTextInput">
            <input class="h-inp" type="text" id="txtFilter"/>
        </div>
    </div>
    <div id="divFilterButton">
        <button id="btnFilter" class="btn">
            <img src="/static/img/icon/icons8-search-24.png"/>
        </button>
    </div>
    <div class="div-clear"></div>
</div>
{{end}}
