{{define "head-form-base"}}
<link rel="stylesheet" href="/static/css/user/change-password.css">
<script src="/static/js/user/change-password.js"></script>
{{end}}
{{define "sub-title"}}
            <div id="countDown1"></div>
            <div id="countDown2"></div>
            <div id="countDown3"></div>
            <table id="tableCountDownDescription1">
              <tr>
                <td><p>For the security reason you only have 5 minutes,&nbsp;</p></td>
                <td style="width: 24px;"><p style="width: 24px;"></p></td>
                <td><p>&nbsp;seconds left</p></td>
              </tr>
            </table>
            <table id="tableCountDownDescription2">
              <tr>
                <td colspan="2"><p>For the security reason you only have 5 minutes,&nbsp;</p></td>
              </tr>
              <tr>
                <td style="width: 24px;"><p style="width: 24px;"></p></td>
                <td><p>&nbsp;seconds left</p></td>
              </tr>
            </table>
{{end}}
{{define "body-inp"}}
              <div class="row">
                  <label class="lbl col-md-4 col-sm-12" for="oldpassword">Old Password</label>
                  <div class="col-md-8 col-sm-12">
                      <input class="h-inp" type="password" id="oldpassword" tabindex="1"
title="Allowed characters are alphabetic, digit, or special characters ~ ` ! @ # $ % ^ &amp; * ( ) _ - + = { [ } ] | \ : ; &quot; ' &lt; , &gt; . ? /"
pattern="[A-Za-z0-9\x7E\x60\x21\x40\x23\x24\x25\x5E\x26\x2A\x28\x29\x5F\x2D\x2B\x3D\x7B\x5B\x7D\x5D\x7C\x5C\x3A\x3B\x22\x27\x3C\x2C\x3E\x2E\x3F\x2F]*"
                      />
                  </div>
              </div>
              <div class="row">
                  <label class="lbl col-md-4 col-sm-12" for="newpassword">New Password</label>
                  <div class="col-md-8 col-sm-12">
                      <input class="h-inp" type="password" id="newpassword" tabindex="2"
title="Allowed characters are alphabetic, digit, or special characters ~ ` ! @ # $ % ^ &amp; * ( ) _ - + = { [ } ] | \ : ; &quot; ' &lt; , &gt; . ? /"
pattern="[A-Za-z0-9\x7E\x60\x21\x40\x23\x24\x25\x5E\x26\x2A\x28\x29\x5F\x2D\x2B\x3D\x7B\x5B\x7D\x5D\x7C\x5C\x3A\x3B\x22\x27\x3C\x2C\x3E\x2E\x3F\x2F]*"
                      disabled/>
                  </div>
              </div>
              <div class="row">
                  <label class="lbl col-md-4 col-sm-12" for="newpasswordconfirm">New Password Confirmation</label>
                  <div class="col-md-8 col-sm-12">
                      <input class="h-inp" type="password" id="newpasswordconfirm" tabindex="3"
title="Allowed characters are alphabetic, digit, or special characters ~ ` ! @ # $ % ^ &amp; * ( ) _ - + = { [ } ] | \ : ; &quot; ' &lt; , &gt; . ? /"
pattern="[A-Za-z0-9\x7E\x60\x21\x40\x23\x24\x25\x5E\x26\x2A\x28\x29\x5F\x2D\x2B\x3D\x7B\x5B\x7D\x5D\x7C\x5C\x3A\x3B\x22\x27\x3C\x2C\x3E\x2E\x3F\x2F]*"
                      disabled/>
                  </div>
              </div>
              <div class="div-btn">
                <button type="submit" id="buttonChangePassword" class="btn btn-primary" tabindex="4" disabled>Change</button>
              </div>
{{end}}
{{define "hidden"}}
{{end}}
