table > tbody > tr {
    margin-top: 3px;
    margin-bottom: 3px;
}
table > tbody > tr > td {
    height: 18px;
}


#countDown1 {
    font-family: "Roboto Mono";
    width: 8px;
    text-align: right;
    padding: 0px;
    position: absolute;
    display: block;
    display: inline-block;
    font-size: 12px;
}
#countDown2 {
    font-family: "Roboto Mono";
    width: 8px;
    text-align: right;
    padding: 0px;
    position: absolute;
    display: block;
    display: inline-block;
    font-size: 12px;
}
#countDown3 {
    font-family: "Roboto Mono";
    width: 8px;
    text-align: right;
    padding: 0px;
    position: absolute;
    display: block;
    display: inline-block;
    font-size: 12px;
}



@media (max-width: 425px) {
    #countDown1 {
        margin-left: 0px;
        margin-top: 28px;
    }
    #countDown2 {
        margin-left: 8px;
        margin-top: 28px;
    }
    #countDown3 {
        margin-left: 16px;
        margin-top: 28px;
    }
    #tableCountDownDescription1 {
        display: none;
    }
    #tableCountDownDescription2 {
        display: table;
    }
}
@media (min-width: 426px) {
    #countDown1 {
        margin-left: 273.5px;
        margin-top: 4px;
    }
    #countDown2 {
        margin-left: 281.5px;
        margin-top: 4px;
    }
    #countDown3 {
        margin-left: 289.5px;
        margin-top: 4px;
    }
    #tableCountDownDescription1 {
        display: table;
    }
    #tableCountDownDescription2 {
        display: none;
    }
}
@media (min-width: 768px) {
    #divMainContent {
        width: 35%;
    }
}
