#divInnerBody {
    margin: 0;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    height: 100%;
    overflow: auto;
}
#divMainContent {
    margin-left: auto;
    margin-right: auto;
}



#divInput > form > .row > div {
    margin: 0px;
    padding: 0px;
}
#divInput > form > .row > div > input {
    width: 100%;
}



#divTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#divSubTitle p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
}



#divInput > form > .row > label {
    width: 100%;
}
#divInput > form > .div-lbl {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
@media (min-width: 768px) {
    #divInnerBody {
        height: 100%;
    }
    #divTitle {
        font-size: 18px;
    }
    #divInput > form > .div-lbl {
        font-size: 16px;
    }
    #divMainContent {
        min-width: 450px;
    }
    #divInput > form > .row > label {
        width: 170px;
    }
    #divInput > form > .row > .col-md-8 {
        min-width: 240px;
        width: calc(100% - 170px)
    }
}



#message {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #7f0000;
}



input {
    outline: none;
}
input:focus {
    outline: none !important;
    box-shadow: none;
    border: 1px solid red;
}
