.tbody > tr > td:nth-child(2) > div, .tbody > tr > td:nth-child(3) > div, .tbody > tr > td:nth-child(4) > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#trHeader > th:nth-child(2) {
    width: calc(50% - 41px);
}
#trHeader > th:nth-child(3) {
    width: calc(50% - 41px);
}
#trHeader > th:nth-child(4) {
    display: none;
}
.tbody > tr > td:nth-child(4) {
    display: none;
    width: calc(30% - 41px);
}
@media (min-width: 1200px) {
    #trHeader > th:nth-child(2) {
        width: calc(35% - 41px);
    }
    #trHeader > th:nth-child(3) {
        width: calc(35% - 41px);
    }
    #trHeader > th:nth-child(4) {
        display: table-cell;
    }
    .tbody > tr > td:nth-child(4) {
        display: table-cell;
    }
}
