.div-box-out {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0px;
    height: fit-content;
}
.div-box-in {
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    background-color: #f7f7f7;
    padding: 18px;
}
.div-box-in-top {
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f7f7f7;
    padding: 18px;
}
.div-box-in-middle {
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 0;
    background-color: #f7f7f7;
    padding: 18px;
}
.div-box-in-bottom {
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    background-color: #f7f7f7;
    padding: 18px;
}
.div-box-tab-pages-out {
    border: 1px solid #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.div-box-tab-pages-in {
    border: 1px solid #bfbfbf;
    border-top-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #f7f7f7;
}
.div-box-tbl {
    border-top: 0;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    background-color: #e3e3e3;
}
@media (min-width: 768px) {
  .div-box > div {
      padding: 27px;
  }
}
